
<div class="col-md-2"></div>
<div class="col-md-8">


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th>Titre</th>
            <th> actif</th>
            <th>unique</th>
            <th>Remplire</th>
            <th>Modifier</th>
            <th>reponce</th>
        </tr>
        </thead>
    <tbody>
    <tr *ngFor="let form of FormData ; let i = index ">
      <th scope="row">{{i + 1}}</th>
      <td>{{form.title}}</td>
        <td><ui-switch [checked]="form.actif" ></ui-switch></td>
      <td><ui-switch [checked]="form.uniquer" ></ui-switch></td>
      <td ><a *ngIf="form.actif == true" routerLink="/remplire" (click)="addFormStorag(FormData[i])">Remplire</a></td>
        <td ><a  routerLink="/put" (click)="putFormStorage(i)">Modifier</a></td>
        <td ><a  routerLink="/reponce" (click)="responceFormStorag(i)">reponce</a></td>
    </tr>
    </tbody>
  </table>


</div>